<div ng-controller="profileController" class="container user-profile">
  <div class="row">
    <div class="col s12 center-align"></div>
  </div>

    <div class="profile-info">
       <h4><b>{{ userProfile.name }}</b></h4>
       <img src="http://i.imgur.com/OFoPkjY.jpg" alt="user" class="circle responsive-img">

        <div class="container col l6 s6 right-align">
          <a ui-sref=".postList" class="btn waves-effect waves-light">
          <i class="fa fa-th fa-4x">Following</i></a>
        </div>
        <div class="container col l6 s6 right-align two">
          <a ui-sref=".postList" class="btn waves-effect waves-light">
          <i class="fa fa-th fa-4x">Followers</i></a>
        </div>

    </div> <!--end of profile info class -->
    <br>

    <div class= "user-post-container">
    <li ng-repeat="post in userPosts">
      <p><b>Location</b>{{ post.location }}<p>
      <p>{{ post.comment }}</p>
    </li>

    </div>

</div>
