
<style>
img {
  width: 50%;
  border-radius: 10px;
  border: 3px solid black;
}

div.want-to-try-feed {
  padding-bottom: 30px;
}

</style>

<div class="want-to-try-feed center-align">
  <h1>Want to try</h1>
  <div class="post">
    <h4>Kevin</h4>
    <img src="https://theverybesttop10.files.wordpress.com/2013/04/the-world_s-top-10-best-foods-inspired-by-hello-kitty-3.jpg"/>

    <br><br>
    <div class="post-buttons">
      <button class="btn waves-effect waves-light" type="submit" name="action"> Eat
        <i class="material-icons right"></i>
      </button>
      <button class="btn waves-effect waves-light" type="submit" name="action">Don't Eat
        <i class="material-icons right"></i>
      </button>
      <button class="btn waves-effect waves-light red accent-3" type="submit" name="action">Delete
        <i class="material-icons right"></i>
      </button>
    </div>
  </div>
</div>
